@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chela+One&display=swap");

body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  /* pointer-events: none; */
}

.no-events {
  pointer-events: none;
}

#restart {
  z-index: 10;
}

.ui {
  /* pointer-events: none; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Fredericka the Great";
}

@keyframes game-start-end-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.game-start-end-layout {
  opacity: 0;
  visibility: hidden;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.game-start-end-layout.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

.game-over-text {
  font-size: 3.5em;
  color: white;
  text-shadow: 6px 6px black;
}

.game-over-score {
  font-size: 2.5em;
  margin-top: 32px;
  color: #f5a300;
  text-shadow: 5px 5px black;
}

#start-game {
  /* z-index: 4; */
  visibility: visible;
}

.start-game-class {
  opacity: 1;
  background-color: #19331b;
  /* background-image: url("./resources/grass/calut.png");
  background-size: cover; */
}

.start-game-class.active {
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
}

.styled-button {
  background-color: #f5a300;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 20px;
  font-family: "Fredericka the Great";
  color: white;
  margin-top: 32px;
}

.styled-button:hover {
  background-color: #b47800;
}

#start-button {
  z-index: 10;
}

.start-game-text {
  font-size: 3.5em;
  color: white;
  text-shadow: 6px 6px black;
}

.score-text {
  margin-top: 0.5em;
  font-size: 2.5em;
  color: white;
  margin-right: 10em;
  text-shadow: 2px 2px black;
}

.score-layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.lives-text {
  margin-top: 0.5em;
  font-size: 2.5em;
  color: white;
  margin-left: 10em;
  text-shadow: 2px 2px black;
}

.game-menu-layout {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

.game-menu-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.game-menu-window > img {
  width: 64px;
  height: 64px;
  padding-top: 100px;
  image-rendering: pixelated;
}

.game-menu-window > h1 {
  font-size: 1.6em;
  line-height: 1.25em;
  font-weight: 500;
  color: rgb(32, 33, 36);
}

.game-menu-window > p,
li {
  margin: 0;
  font-size: 1em;
  line-height: 1.55em;
  color: rgb(95, 99, 104);
}

.game-menu-window > #error {
  margin: 0;
  font-size: 0.8em;
  line-height: 1.55em;
  color: rgb(95, 99, 104);
  margin-top: 12px;
}

.instructions-container {
  font-size: 1em;
  color: white;
  text-shadow: 1px 1px black;
  position: absolute;
  z-index: 0;
}

.instructions-element {
  margin: 12px;
}

#controls-disabled {
  color: #f0ff01;
}
